body {
    background-color: azure;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.h2 {
    text-align: center;
    border-style: ridge;
    border-color: lightblue;
}

.img {
    margin-top: 10px;
    margin-left: 80px;
    width: 75%;
}

.p {
    padding: 10px;
}

.available {
    background-color: grey;
    color: yellow;
    width: 403px;
}
.card {
    width: 400px;
    height: auto;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 3px 10px #888888;
    border-style: ridge;
}

