body {
    background-color: azure;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.h2 {
    text-align: center;
    border-style: ridge;
}

.img {
    margin-top: 10px;
    margin-left: 35px;
    width: 75%;
}

.img2 {
    width: 50px;
}

.img3 {
    width: 33%
}


.available {
    background-color: grey;
    color: yellow;
}
.card {
    width: 300px;
    height: auto;
    border-style: ridge
}

